<a href="https://colab.research.google.com/github/mrivaldi/Pusat_Stusi_Data_Sains/blob/main/psds_14_desember.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/eliyanto29/My-Academics-Paper-On-Data-Science/master/FCM-Core-and-Reduct/iris_dataset.csv')
#df = pd.read_csv('/content/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        1
1             4.9          3.0           1.4          0.2        1
2             4.7          3.2           1.3          0.2        1
3             4.6          3.1           1.5          0.2        1
4             5.0          3.6           1.4          0.2        1
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        3
146           6.3          2.5           5.0          1.9        3
147           6.5          3.0           5.2          2.0        3
148           6.2          3.4           5.4          2.3        3
149           5.9          3.0           5.1          1.8        3

[150 rows x 5 columns]

In [14]:
df.head(20)

    sepal_length  sepal_width  petal_length  petal_width  species
0            5.1          3.5           1.4          0.2        1
1            4.9          3.0           1.4          0.2        1
2            4.7          3.2           1.3          0.2        1
3            4.6          3.1           1.5          0.2        1
4            5.0          3.6           1.4          0.2        1
5            5.4          3.9           1.7          0.4        1
6            4.6          3.4           1.4          0.3        1
7            5.0          3.4           1.5          0.2        1
8            4.4          2.9           1.4          0.2        1
9            4.9          3.1           1.5          0.1        1
10           5.4          3.7           1.5          0.2        1
11           4.8          3.4           1.6          0.2        1
12           4.8          3.0           1.4          0.1        1
13           4.3          3.0           1.1          0.1        1
14           5.8          4.0           1.2          0.2        1
15           5.7          4.4           1.5          0.4        1
16           5.4          3.9           1.3          0.4        1
17           5.1          3.5           1.4          0.3        1
18           5.7          3.8           1.7          0.3        1
19           5.1          3.8           1.5          0.3        1

In [16]:
df.tail(20)

     sepal_length  sepal_width  petal_length  petal_width  species
130           7.4          2.8           6.1          1.9        3
131           7.9          3.8           6.4          2.0        3
132           6.4          2.8           5.6          2.2        3
133           6.3          2.8           5.1          1.5        3
134           6.1          2.6           5.6          1.4        3
135           7.7          3.0           6.1          2.3        3
136           6.3          3.4           5.6          2.4        3
137           6.4          3.1           5.5          1.8        3
138           6.0          3.0           4.8          1.8        3
139           6.9          3.1           5.4          2.1        3
140           6.7          3.1           5.6          2.4        3
141           6.9          3.1           5.1          2.3        3
142           5.8          2.7           5.1          1.9        3
143           6.8          3.2           5.9          2.3        3
144           6.7          3.3           5.7          2.5        3
145           6.7          3.0           5.2          2.3        3
146           6.3          2.5           5.0          1.9        3
147           6.5          3.0           5.2          2.0        3
148           6.2          3.4           5.4          2.3        3
149           5.9          3.0           5.1          1.8        3

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [21]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width     species
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.054000      3.758667     1.198667    2.000000
std        0.828066     0.433594      1.764420     0.763161    0.819232
min        4.300000     2.000000      1.000000     0.100000    1.000000
25%        5.100000     2.800000      1.600000     0.300000    1.000000
50%        5.800000     3.000000      4.350000     1.300000    2.000000
75%        6.400000     3.300000      5.100000     1.800000    3.000000
max        7.900000     4.400000      6.900000     2.500000    3.000000

In [26]:
df['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [29]:
df.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [32]:
df[['petal_length', 'sepal_length']]

     petal_length  sepal_length
0             1.4           5.1
1             1.4           4.9
2             1.3           4.7
3             1.5           4.6
4             1.4           5.0
..            ...           ...
145           5.2           6.7
146           5.0           6.3
147           5.2           6.5
148           5.4           6.2
149           5.1           5.9

[150 rows x 2 columns]

In [39]:
df[:5]
#df[4:9]

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.2        1

In [44]:
#df.iloc[:8, :3]

#df.iloc[:8, -1]

df.iloc[3:8, 2:5]

df.iloc[2::, 2::]

     petal_length  petal_width  species
2             1.3          0.2        1
3             1.5          0.2        1
4             1.4          0.2        1
5             1.7          0.4        1
6             1.4          0.3        1
..            ...          ...      ...
145           5.2          2.3        3
146           5.0          1.9        3
147           5.2          2.0        3
148           5.4          2.3        3
149           5.1          1.8        3

[148 rows x 3 columns]

In [53]:
df.count()
df.species.count()
df.species.value_counts()

3    50
2    50
1    50
Name: species, dtype: int64

In [55]:
df[df['sepal_width']==3.0]

     sepal_length  sepal_width  petal_length  petal_width  species
1             4.9          3.0           1.4          0.2        1
12            4.8          3.0           1.4          0.1        1
13            4.3          3.0           1.1          0.1        1
25            5.0          3.0           1.6          0.2        1
38            4.4          3.0           1.3          0.2        1
45            4.8          3.0           1.4          0.3        1
61            5.9          3.0           4.2          1.5        2
66            5.6          3.0           4.5          1.5        2
75            6.6          3.0           4.4          1.4        2
77            6.7          3.0           5.0          1.7        2
84            5.4          3.0           4.5          1.5        2
88            5.6          3.0           4.1          1.3        2
91            6.1          3.0           4.6          1.4        2
95            5.7          3.0           4.2          1.2        2
102           7.1          3.0           5.9          2.1        3
104           6.5          3.0           5.8          2.2        3
105           7.6          3.0           6.6          2.1        3
112           6.8          3.0           5.5          2.1        3
116           6.5          3.0           5.5          1.8        3
127           6.1          3.0           4.9          1.8        3
129           7.2          3.0           5.8          1.6        3
135           7.7          3.0           6.1          2.3        3
138           6.0          3.0           4.8          1.8        3
145           6.7          3.0           5.2          2.3        3
147           6.5          3.0           5.2          2.0        3
149           5.9          3.0           5.1          1.8        3